{
  "plugins": ["tailwindcss"],
  "extends": ["@antfu", "plugin:tailwindcss/recommended"],
  "rules": {
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": {
          "max": 1
        },
        "multiline": {
          "max": 1
        }
      }
    ],
    "vue/define-macros-order": "off",
    "@typescript-eslint/brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "no-console": "off",
    "curly": 0,
    "tailwindcss/no-custom-classname": "off"
  }
}